- unplaced_tokens = @grid.unplaced
- placed_tokens = @grid.placed #26*26 multidimensional array; 26 rows made of 26 columns
- alphabet = [];
- for i in 'A'..'Z'
  - alphabet << i

-for x in 0..26
  %tr
    -for y in 0..26
      -xystring = "n_#{x}_#{y}"
      -if x == 0 && y == 0
        %td{:id => xystring, :class => 'mark'}
          = "-"
      -elsif x == 0
        %td{:id => xystring, :class => 'mark'}
          =h y
      -elsif y == 0
        %td{:id => xystring, :class => 'mark'}
          =h alphabet[x-1]
      -elsif placed_tokens.include?("#{x}_#{y}")
        %td{:id => xystring}
          %div{:id => "#{h placed_tokens["#{x}_#{y}"].id}", :class => 'drag' }
            =image_tag("tokens/#{placed_tokens["#{x}_#{y}"].image_url}")
      -else
        %td{:id => xystring}

%script{:type => 'text/javascript'}
  REDIPS.drag.init()