<p>
  <b>User:</b>
  <%=h @campaign.user_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @campaign.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @campaign.description %>
</p>

<p>
  <% if can? :manage, @campaign %>
     Secret Rolls: <br />
    <% @campaign.rolls.where(:type_flag => 1).includes({:character => :user}).each do |roll| %>
      Total: <%= roll.resultarray[0][0] %><br />
      Query: <%= roll.query %><br />
      Rolled by <%= roll.character.user.username %><br />
      <hr />
    <% end %>
  <% end %>

</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>