<h1>Editing roll</h1>

<% form_for(@roll) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :resultarray %><br />
    <%= f.text_area :resultarray %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @roll %> |
<%= link_to 'Back', rolls_path %>